@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 20rem;
  height: auto;
  margin: 1.5rem 0;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin: 1.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1.5rem;
  color: #FF64A1;
  text-shadow: 2px 2px #DBD7DB;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem;
}

p {
  font-size: 1.6rem;
  text-align: center;
  margin: 1.5rem;
}

li {
  font-size: 1.6rem;
}

span {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5rem;
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


figure p {
  font-weight: bold;
  text-transform: uppercase;
}

#optionA {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #FF64A1;
  border-radius: 10px;
  box-shadow: 4px 4px #FF9AC8;
  cursor: pointer;
}

#optionA img {
  width: 20rem;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#optionB {
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #FF64A1;
  border-radius: 10px;
  box-shadow: 4px 4px #FF9AC8;
  cursor: pointer;
}

#optionB img {
  width: 20rem;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


/* RESULTS */
#results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-list {
  width: 25rem;
  display: flex;
  flex-direction: column;
  border: 5px solid #FF64A1;
  border-radius: 10px;
  padding: 0px;
  padding-bottom: 1.5rem;
  box-shadow: 4px 4px #FF9AC8;
}

#results-list img {
  width: 25rem;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 1.5rem;
}

#results-list li {
  margin-left: 4.5rem;
}


/* RETRY BUTTON */
#retry {
  color: #F5F0F6;
  background-color: #FF64A1;
  border-radius: 10px;
  box-shadow: 3px 3px #DBD7DB;
  padding: 5px 10px;
  text-shadow: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

#retry:hover {
  color: #FF9AC8;
}

#retry:active {
  transform: translate(3px, 3px);
  box-shadow: none;
}


/* FOOTER */
footer {
  background-color: #F5F0F6;
  padding: 1.5rem;
  margin-top: 1.5rem;
}

footer ul {
  padding-left: 0;
  margin: 0;
}

footer a:link {
  text-decoration: none;
  color: #FF64A1;
}

footer a:visited {
  color: #FF64A1;
}

footer a:hover {
  color: #FF64A1;
}

.footer-sns {
  display: flex;
  justify-content: center;
}

.footer-sns li {
  list-style: none;
  margin: 10px;
}

.fab {
  color: #FF64A1;
}


/* TABLET VIEW */
@media screen and (min-width: 600px) {

  #question-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #optionA {
    width: 250px;
  }
  
  #optionA img {
    width: 250px;
  }
  
  #optionB {
    width: 250px;
  }
  
  #optionB img {
    width: 250px;
  }
}


/* DESKTOP VIEW */
@media screen and (min-width: 1240px) {

  /* FOOTER */
  footer a:link {
    text-decoration: none;
    color: black;
  }
    
  footer a:visited {
    color: black;
  }
    
  footer a:hover {
    color: #FF64A1;
  }
}